body {
    display: flex;
    font-family: 'Courier New', Courier, monospace;
    background-color: #7C010D;
    align-items:center;
    justify-content:center;
}

h1 {
    color: white;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}